<fieldset class="input {{classes}}">
  <label class="input__label">
    <input
      class="input__text-field"
      type={{type}}
      minlength={{minlength}}
      maxlength={{maxlength}}
      required
    />
    <span class="input__text">{{helperText}}</span>
  </label>
  <p class="input__helper-text"></p>
</fieldset>
